services:
  django-api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
      - backend/.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-ringo}
      POSTGRES_USER: ${POSTGRES_USER:-ringo}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-ringo}
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    volumes:
      - ./backend:/app
    ports:
      - "8001:8000"
    depends_on:
      - db
      - redis
      - minio
    networks:
      - ringo-net

  celery:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: celery -A ringo_backend worker --loglevel=info
    env_file:
      - backend/.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-ringo}
      POSTGRES_USER: ${POSTGRES_USER:-ringo}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-ringo}
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    volumes:
      - ./backend:/app
    depends_on:
      - django-api
      - redis
    networks:
      - ringo-net

  celery-beat:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: celery -A ringo_backend beat --loglevel=info
    env_file:
      - backend/.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-ringo}
      POSTGRES_USER: ${POSTGRES_USER:-ringo}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-ringo}
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    volumes:
      - ./backend:/app
    depends_on:
      - django-api
      - redis
    networks:
      - ringo-net

  db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-ringo}
      POSTGRES_USER: ${POSTGRES_USER:-ringo}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-ringo}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - ringo-net

  redis:
    image: redis:7-alpine
    command: redis-server --save 20 1 --loglevel warning
    ports:
      - "6380:6379"
    volumes:
      - redisdata:/data
    networks:
      - ringo-net

  minio:
    image: quay.io/minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-minioadmin}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - miniodata:/data
    networks:
      - ringo-net

  nginx:
    image: nginx:1.25-alpine
    volumes:
      - ./infra/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    depends_on:
      - django-api
    networks:
      - ringo-net

volumes:
  pgdata:
  redisdata:
  miniodata:

networks:
  ringo-net:
    driver: bridge

